---
  import Layout from '../layouts/Layout.astro';
  import Section from "../components/Section.astro";

  import Mission from "../content/mission.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <Section id="mission">
      <Mission></Mission>
    </Section>
  </main>
</Layout>