---
import BaseLayout from "../layouts/BaseLayout.astro";

import Mission from "../sections/mission.astro";
import Hero from "../sections/hero.astro";
import Members from "../sections/members.astro";
import Partners from "../sections/partners.astro";
import Meetups from "../sections/meetups.astro";

import { meetups } from "../data/meetups";
import { members } from "../data/members";
import { partners } from "../data/partners";
---

<BaseLayout title="Women in Tech Cluj">
  <main>
    <Hero />
    {meetups.length > 0 && <Meetups meetups={meetups} />}
    <Mission />
    <Members members={members} />
    <Partners partners={partners}/>
  </main>
</BaseLayout>
