<div class="flex">
  <div>
    <h1 class="text-5xl font-extrabold">Mission & History</h1>
  </div>
  <div class="ml-20">
    <h2 class="text-[#fa4080] text-lg font-light">LEARN. SHARE. SUPPORT. EMPOWER.</h2>
  </div>
</div>
<div class="flex mt-12 relative">
  <div class="absolute top-80">
    <img
      src="https://static.wixstatic.com/media/3c5446_1e71d0433965489283c4b237e3b091e7~mv2.png/v1/fill/w_1234,h_1186,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/21.png"
      alt="21.png" style="width: 617px; height: 593px; object-fit: cover; object-position: 50% 50%;"
    />
  </div>
  <div class="w-[800px] ml-[360px] p-12 bg-[#0c1d39] text-white text-lg font-light leading-6">
    <p>Women in Tech Cluj has started in April 2018 after lots of months tinkering on how cool it would be to have
      recurrent meetups where women take the spotlight. The tipping point was a dinner with several tech enthusiasts
      gathered around (and thanks to) Sarah Drasner, an award-winning speaker with a stellar technical career. It was
      then when our founders, Oana, Mela and Gina understood the need and interest for such a community.</p>
    <p class="pt-6 ml-60">Our mission is to share, support and grow together. We want to make the work of technical women visible and
      support them to stand up and have a voice. To do so we meet at least once a month and experiment with formats and
      topics, both technical and non-technical ones.</p>
    <p class="pt-6 ml-60">We stay true to our values and remain neutral to company publicity or recruitment attempts, as we believe
      creating a safe space is essential to building a healthy community. We will nevertheless hold meetups in
      companies' offices and coworking spaces to be connected to the local business environment.</p>
    <p class="pt-6 ml-60">Despite the (apparently) exclusive name, we are welcoming men and women alike, to be part of Women in Tech Cluj.
      We have made a choice over and over again regarding the name as we believe that in today's world, women are
      wearing different hats and sometimes lack the confidence to promote their results, go for that promotion, apply
      for that job. Please join us to make this happen!</p>
  </div>
</div>