<div id="hamburger" class="pr-8 pointer z-10 md:hidden">
  <span class="block w-[26px] h-[2.5px] mb-2 bg-slate-700 rounded-xl"></span>
  <span
    id="hamburger-middle-line"
    class="block w-[26px] h-[2.5px] mb-2 bg-slate-700 rounded-xl transition-transform"
  ></span>
  <span class="block w-[26px] h-[2.5px] bg-slate-700 rounded-xl"></span>
</div>
