---
import Hamburger from "./Hamburger.astro";
import Navigation from "../components/Navigation.astro";
import WitLogo from "./WitLogo.astro";
import MeetupButton from "./MeetupButton.astro";
---

<header class="h-24">
  <nav class="flex items-center justify-between h-full relative">
    <WitLogo />
    <Navigation />
    <MeetupButton />
    <Hamburger />
  </nav>
</header>
