<div
  id="nav"
  class="nav-links fixed top-0 left-full overflow-hidden w-0 h-screen transition-all flex flex-col bg-white items-center space-y-10 justify-center text-xl font-semibold md:relative md:flex-row md:justify-center md:space-x-8 md:h-fit md:w-fit md:font-normal md:text-base md:text-gray-400"
>
  <a href="/">Home</a>
  <a href="/about/">Meetups</a>
  <a href="/blog/">Mission</a>
  <a href="/tags/">Members</a>
  <a href="/tags/">Partners</a>
  <a href="/tags/">Gallery</a>
  <a href="/tags/">Contact</a>
</div>
