<div
  id="nav"
  class="nav-links fixed lg:relative top-0 left-full lg:left-auto overflow-hidden w-0 lg:w-fit h-screen lg:h-fit transition-all flex flex-col lg:block bg-white items-center justify-center lg:space-x-8 space-y-10 text-xl font-semibold lg:font-normal lg:text-base lg:text-gray-400"
>
  <a href="/">Home</a>
  <a href="/about/">Meetups</a>
  <a href="/blog/">Mission</a>
  <a href="/tags/">Members</a>
  <a href="/tags/">Partners</a>
  <a href="/tags/">Gallery</a>
  <a href="/tags/">Contact</a>
</div>
