<div
  id="nav"
  class="nav-links fixed md:relative top-0 left-full md:left-auto overflow-hidden w-0 md:w-fit h-screen md:h-fit transition-all flex flex-col md:block bg-white items-center justify-center md:space-x-8 space-y-10 text-xl font-semibold md:font-normal md:text-base md:text-gray-400"
>
  <a href="/">Home</a>
  <a href="/about/">Meetups</a>
  <a href="/blog/">Mission</a>
  <a href="/tags/">Members</a>
  <a href="/tags/">Partners</a>
  <a href="/tags/">Gallery</a>
  <a href="/tags/">Contact</a>
</div>
