---
import { getImage } from "astro:assets";
import heroMobile from "./images/hero-mobile.jpg";

const heroBackground = await getImage({ src: heroMobile, format: "avif" });
---

<div
  id="heroBgImage"
  style={`background-image: url(${heroBackground.src});`}
  class="w-full pb-[100px] px-6 bg-slate-600 bg-cover bg-center pt-[100px] bg-blend-soft-light"
>
  <div
    id="heroTextContainer"
    class="w-full h-full flex flex-col lg:items-center gap-8 text-white"
  >
    <div class="flex flex-col md:flex-row gap-2">
      <h1 class="text-4xl md:text-8xl font-extrabold">Women in Tech</h1>
      <span class="text-4xl font-extralight">Cluj</span>
    </div>

    <div class="flex flex-col gap-4">
      <div class="w-[50px] h-[3px] bg-pink-500"></div>
      <div>
        <h2 class="text-3xl font-light">
          Learn. Share. Support. Empower. Create awareness
        </h2>
      </div>
    </div>
  </div>
</div>
