---
import Member from "../components/member.astro";
---

<div class="flex mt-24 items-center justify-between">
  <h2 class="text-5xl font-bold">Members</h2>
  <div>OUR FOUNDING MEMBERS</div>
</div>
<div class="mt-12 flex justify-between">
  <Member
    imageSource="https://static.wixstatic.com/media/3c5446_3af5e8f8935b4f3ab4a5fba24d8b1837~mv2.png/v1/crop/x_118,y_0,w_799,h_1194/fill/w_328,h_490,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/Screenshot%202020-05-20%20at%2013_45_35.png"
    name="Oana Sipos"
    ocupation="Engineer & Educator"
    twitterLink="https://twitter.com/oanasipos"
    linkedinLink="https://www.linkedin.com/in/oanasipos/"
  />
  <Member
    imageSource="https://static.wixstatic.com/media/6f37f5_d6b27713fa284ba58cc325e8a22dc9d4~mv2.jpg/v1/crop/x_197,y_0,w_981,h_1466/fill/w_328,h_490,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/Mela-edited.jpg"
    name="Melania Moldovan"
    ocupation="Software Engineer"
    twitterLink="https://twitter.com/mela_moldovan"
    linkedinLink="https://www.linkedin.com/in/melania-moldovan-b71083158/"
  />
  <Member
    imageSource="https://static.wixstatic.com/media/3c5446_43cac22aab1046bba0a5845b19392fb7~mv2.jpg/v1/crop/x_0,y_2,w_1024,h_1530/fill/w_328,h_490,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/858e2f70d91815b57e1c1994063c1893-xlarge_.jpg"
    name="Georgina Lupu-Florian"
    ocupation="Engineer & Entrepreneur"
    twitterLink="https://twitter.com/ginalupu?lang=en"
    linkedinLink="https://www.linkedin.com/in/georginalupu/"
  />
  <Member
    imageSource="https://static.wixstatic.com/media/6f37f5_c52487f99e244865adeb4efab4358b45~mv2.jpeg/v1/crop/x_89,y_0,w_1371,h_2048/fill/w_328,h_490,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/Screenshot_20200308-140115-01.jpeg"
    name="Ioana Chiorean"
    ocupation="Engineer & Manager"
    twitterLink="https://twitter.com/ioana_cis"
    linkedinLink="https://www.linkedin.com/in/ioanachiorean/"
  />
</div>
