---
import { Image } from 'astro:assets';
import womanVr from '../sections/images/woman-with-vr-headset-mobile.webp'
---
<div class="flex flex-col w-full items-center">
  <div class="mt-20 px-8 flex flex-col w-full items-start space-y-4">
    <h1 class="text-3xl lg:text-5xl font-extrabold">Mission & History</h1>
    <div class="bg-pink-500 w-[100px] h-[1.5px]"></div>
    <h2 class="text-[rgb(250,64,128)] text-lg font-light">LEARN. SHARE. SUPPORT. EMPOWER.</h2>
  </div>
  <div class="lg:flex mt-12 lg:relative">
    <div
      class="px-8 py-12 lg:w-[800px] lg:ml-[360px] bg-[#0c1d39] text-white text-lg font-light leading-7 font-['Montserrat']"
    >
      <p>
        <span class="font-bold">Women in Tech</span> Cluj has started in April
        2018 after lots of months tinkering on how cool it would be to have
        recurrent meetups where women take the spotlight. The tipping point was
        a dinner with several tech enthusiasts gathered around (and thanks to)
        Sarah Drasner, an award-winning speaker with a stellar technical career.
        It was then when our founders, Oana, Mela and Gina understood the need
        and interest for such a community.
      </p>
      <p class="pt-6 lg:ml-60">
        Our mission is to share, support and grow together. We want to make the
        work of technical women visible and support them to stand up and have a
        voice. To do so we meet at least once a month and experiment with
        formats and topics, both technical and non-technical ones.
      </p>
      <p class="pt-6 lg:ml-60">
        We stay true to our values and remain neutral to company publicity or
        recruitment attempts, as we believe creating a safe space is essential
        to building a healthy community. We will nevertheless hold meetups in
        companies' offices and coworking spaces to be connected to the local
        business environment.
      </p>
      <p class="pt-6 lg:ml-60">
        Despite the (apparently) exclusive name, we are welcoming men and women
        alike, to be part of Women in Tech Cluj. We have made a choice over and
        over again regarding the name as we believe that in today's world, women
        are wearing different hats and sometimes lack the confidence to promote
        their results, go for that promotion, apply for that job. Please join us
        to make this happen!
      </p>
    </div>
    <div class="lg:absolute lg:top-80">
      <Image src={womanVr} alt="A woman wearing a VR headset." class="px-4 bg-[#0c1d39] lg:w-[617px] lg:h-[593px] object-cover object-center"/>
    </div>
  </div>
</div>
