---
import PartnerComponent from "../components/Partner.astro";

import type { Partner } from "../data/types";

export interface Props {
  partners: Partner[];
}

const { partners } = Astro.props as Props;
---

<div class="mt-12 px-6 flex flex-col lg:flex-row items-start justify-between">
  <h1 class="text-5xl font-bold">Partners</h1>
  <h2  class="text-2xl font-light text-pink-500">THEY'RE AWESOME</h2>
</div>

<div class="py-12 flex flex-col items-center space-y-16 lg:grid lg:grid-cols-3 lg:gap-32">
  {partners.map( partner => <PartnerComponent partner={partner} />)}
</div>